BOT_TOKEN=
BOT_USERNAME=
BOT_CHAT=

BOT_INTERVAL_SEND_POSTS=
BOT_INTERVAL_GET_POSTS=

DB_CLIENT=
DATABSE_URL=
DATABASE=
DB_USERNAME=
DB_PASSWORD=
MIGRATIONS=./src/infra/database/query-builder/postgres/knex/migrations
